@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<LibraryManagement.Core.Entities.Book>;
@{

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Book";
    int order = 0;
    var parms = new Dictionary<string, string>();
    parms.Add("bookId", "");
    var authorBook = "";
}

<div class="col">
    <div class="container mb-2">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form asp-area="Admin" asp-controller="Admin" asp-action="GetAllBooks" method="get">
                    <div class="input-group">
                        <input name="searchString" value="@ViewData["SearchString"]" class="form-control" type="text" placeholder="Search ..." aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a class="btn btn-outline-primary rounded mb-3" role="button"
       asp-area="Admin" asp-controller="Admin" asp-action="AddBook">
        Add new book
    </a>
    <div class="card">
        <div class="card-header">
            <strong class="card-title">All Authors</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Book name</th>
                        <th scope="col">Book code</th>
                        <th scope="col">Category</th>
                        <th scope="col">Author</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Latest Update</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        foreach(var ab in book.AuthorBooks)
                        {
                            authorBook += $"{ab.Author.AuthorName}, ";
                        }
                        authorBook = authorBook.Remove(authorBook.Length-2);
                        order++;
                        parms["bookId"] = book.BookId;
                        <tr>
                            <th scope="row">@order</th>
                            <td>@book.BookName</td>
                            <td>@book.BookCode</td>
                            <td>@book.Category.CategoryName</td>
                            <td>@authorBook</td>
                            <td><img width="70px" src="@book.Image" alt="BookImage"></img></td>
                            <td>@book.BookDescription</td>
                            <td>@book.Available</td>
                            <td>@book.CreationDate.GetDateTimeFormats()[1]</td>
                            <td>@book.LatestUpdate.GetDateTimeFormats()[1]</td>
                            <td>
                                <a class="btn btn-outline-success rounded mb-1" role="button"
                                   asp-area="Admin" asp-controller="Admin" asp-action="EditBook"
                                   asp-all-route-data="parms">
                                    Edit
                                </a>
                                <a class="btn btn-outline-danger rounded" role="button"
                                   asp-area="Admin" asp-controller="Admin" asp-action="RemoveBook"
                                   asp-all-route-data="parms">
                                    Remove
                                </a>
                            </td>
                        </tr>
                        authorBook = "";
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>